@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;  
    background: linear-gradient(270deg,#4A6D7C,slategrey, black);
      background-size: 200% 200%;
      animation: gradient 12s ease infinite;
      height: 80vh;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
div.app {
    margin: 10px;
    padding: 0px;
    box-sizing: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
Button {
    margin-top: 10px;
}

div.header {
    height: 125px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.profile-frame {
    display: flex;
    margin-left: 20px;
    margin-bottom: 20px;
}
.profile-body {
    display: flex;
    flex-direction: column;
    height: 200px;
}
Button.log-out {
    background-color: #0d6efd;
    margin-bottom: 10px;
    color: white

}

.outer-project-frame {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 85vw;
    flex-grow: 10;
    padding: 20px;
    margin-top: 150px;
}

.project-board {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: top;
    justify-content: space-around;
    width: 85vw;
    height: 100vh;
    flex-grow: 10;
    padding: 20px;
    margin-top: 25px;
    
}

.singular-project {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100px;
    overflow: scroll;
    font-size: small;
}

.project-frame {
    width: 40vw;
    height: 200px;
    margin: 5px;
}